.app{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* .bbn{
    background-image: url(/public/img/Asset.png);
    background-position: center;
    background-size: 100%;
} */